body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #150725;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.video-card {
  background-color: #ff8c00;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s;
  width: 300px;
  text-decoration: none; /* Remove underline */
  color: black; /* Change text color to black */
}

.video-card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.video-card p {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.video-card:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .video-card {
    flex: 1 1 calc(33.333% - 15px);
  }
}

@media (max-width: 767px) {
  .video-card {
    flex: 1 1 100%;
  }
}
